{% extends 'base.html.twig' %}

{% block title %}TodoList{% endblock %}

{% block body %}

    <div>
        <h1>Editer une tâche</h1>
    </div>
    <div>
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button>Editer</button>
        {{ form_end(form) }}
    </div>
    <div>
        <a href="{{ path('tasks', {id: task.todoList.id}) }}">Retour</a>
    </div>

{% endblock %}